.title {
    text-align: center;
}

.btn{
    width: 100px;
    margin: 50px auto;
    background-color: rgba(51, 51, 51, 0.842);
    color: white;
    display: block;
}

.form{
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    border: solid;
    border-radius: 1rem;
  }
