.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: rgb(87, 30, 219);
}

.welcome {
    color: white;
    font-weight: bold;
    margin: 4px 0;
}
