table {
    width: 80%;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
}

.img {
    height: 24px;
    width: 24px;
}

.center {
    text-align: center;
}

.table {
    border-collapse: collapse;
}
